In [6]:
from sqlalchemy import create_engine
import pandas as pd
#from os import chdir; chdir('..')
#from os import chdir; chdir('./lib')
from sklearn.preprocessing import StandardScaler
from project_5 import load_data_from_database, make_data_dict,general_transformer

In [5]:
!pwd

/src/dsi/dsi-workspace/project-05/lib

In [7]:
madelon_df = load_data_from_database()
madelon_df.head(5)

,index,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,label
0,0,485,477,537,479,452,471,491,476,475,...,481,477,485,511,485,481,479,475,496,-1
1,1,483,458,460,487,587,475,526,479,485,...,478,487,338,513,486,483,492,510,517,-1
2,2,487,542,499,468,448,471,442,478,480,...,481,492,650,506,501,480,489,499,498,-1
3,3,480,491,510,485,495,472,417,474,502,...,480,474,572,454,469,475,482,494,461,1
4,4,484,502,528,489,466,481,402,478,487,...,479,452,435,486,508,481,504,495,511,1

In [39]:
madelon_df.shape

(2000, 502)

In [40]:
madelon_df.describe()

,index,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,label
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,999.500000,481.722500,483.452500,510.166000,483.384500,501.612500,479.259000,480.109500,476.565000,486.793500,...,478.811500,486.356500,496.565500,493.49950,510.893000,478.219500,483.309000,507.977000,490.266000,0.00000
std,577.494589,6.421769,30.186294,38.899165,9.059895,41.389418,6.795956,40.575925,1.384461,15.043836,...,4.011735,23.967366,127.635442,34.81902,37.459353,5.880613,13.559847,37.224297,25.825273,1.00025
min,0.000000,462.000000,381.000000,370.000000,453.000000,371.000000,459.000000,334.000000,471.000000,430.000000,...,463.000000,391.000000,130.000000,368.00000,398.000000,457.000000,435.000000,363.000000,403.000000,-1.00000
25%,499.750000,477.000000,464.000000,485.000000,477.000000,475.000000,475.000000,452.750000,476.000000,477.000000,...,476.000000,471.000000,404.000000,470.00000,486.000000,474.000000,474.000000,482.000000,473.000000,-1.00000
50%,999.500000,482.000000,483.000000,510.500000,483.000000,500.000000,479.000000,480.000000,477.000000,487.000000,...,479.000000,486.000000,504.000000,492.00000,511.000000,478.000000,483.000000,508.000000,490.000000,0.00000
75%,1499.250000,486.000000,503.000000,536.000000,490.000000,528.000000,484.000000,506.250000,477.000000,496.250000,...,481.000000,502.000000,586.000000,517.00000,535.000000,482.000000,492.000000,533.000000,507.250000,1.00000
max,1999.000000,503.000000,600.000000,654.000000,519.000000,688.000000,505.000000,611.000000,481.000000,536.000000,...,497.000000,566.000000,920.000000,615.00000,661.000000,500.000000,535.000000,644.000000,583.000000,1.00000

In [8]:
data_dict= make_data_dict(madelon_df,random_state=42)

In [9]:
data_dict['X_train'].head()

,index,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_490,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499
1738,1738,481,462,564,482,484,478,493,476,509,...,478,478,460,612,485,557,476,488,633,479
548,548,481,496,494,478,461,474,484,477,478,...,491,478,474,532,517,507,478,478,505,463
936,936,495,525,551,478,544,483,507,475,511,...,460,490,502,656,554,553,465,503,520,490
1389,1389,495,464,472,498,499,472,454,478,476,...,474,477,517,634,448,514,486,496,475,525
1607,1607,477,472,544,483,457,476,526,474,482,...,501,474,499,477,524,567,476,484,503,485

In [10]:
data_dict = general_transformer(StandardScaler(),data_dict)

In [15]:
transformer = data_dict["transformer"]

In [23]:
data_dict["X_train"]

array([[ 1.2789811 , -0.13882911, -0.72646228, ...,  0.35221659,
         3.3450926 , -0.43164517],
       [-0.78873069, -0.13882911,  0.41909385, ..., -0.37842216,
        -0.0763225 , -1.04419743],
       [-0.11455239,  2.08159081,  1.39618585, ...,  1.44817471,
         0.32462458, -0.01051548],
       ...,
       [-0.24660793, -0.13882911,  0.28432254, ...,  0.86366371,
         0.69884185, -1.04419743],
       [ 0.79419825,  0.33697516,  1.12664323, ...,  1.95962184,
        -0.79802725,  0.75517486],
       [ 0.21558647,  0.97138085, -1.33293318, ...,  0.13302496,
        -0.26343114,  1.21458906]])

In [28]:
from sklearn import linear_model
#from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,Lasso
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression, f_classif
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier

## Round 1

In [29]:
y = madelon_df["label"]
X = madelon_df.drop("label",axis=1)

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.33, random_state=42)

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

model = linear_model.LogisticRegression(penalty = 'l1', C=1)
model.fit(X_train, y_train)

train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)

In [31]:
train_score,test_score

(0.80597014925373134, 0.53636363636363638)

In [32]:
feature_coef = []
for i,k in enumerate(X.columns):
    feature_coef.append([k, model.coef_[0][i]])
df_coef=pd.DataFrame(feature_coef)
df_coef.columns = ["feature","coef_"]
print "Positive top 13 coef_: ", df_coef.sort_values(["coef_"],ascending=False).head(100)
print "Negative top 10 coef_: ", df_coef.sort_values(["coef_"]).head(100)

Positive top 13 coef_:        feature     coef_
473  feat_472  0.681057
434  feat_433  0.675260
476  feat_475  0.550221
49   feat_048  0.338703
47   feat_046  0.328519
57   feat_056  0.315169
495  feat_494  0.284937
413  feat_412  0.271571
500  feat_499  0.270138
425  feat_424  0.265853
54   feat_053  0.263579
16   feat_015  0.260616
166  feat_165  0.250957
341  feat_340  0.237023
318  feat_317  0.231359
152  feat_151  0.229718
349  feat_348  0.225215
34   feat_033  0.223729
283  feat_282  0.216191
295  feat_294  0.213273
118  feat_117  0.212690
187  feat_186  0.212565
472  feat_471  0.211874
334  feat_333  0.205392
197  feat_196  0.202015
269  feat_268  0.195580
212  feat_211  0.195439
362  feat_361  0.195058
475  feat_474  0.193736
321  feat_320  0.193334
..        ...       ...
267  feat_266  0.110467
185  feat_184  0.109581
327  feat_326  0.109104
385  feat_384  0.104342
210  feat_209  0.103752
102  feat_101  0.102291
55   feat_054  0.101734
173  feat_172  0.101012
138  feat_137  0.100141
453  feat_452  0.098695
488  feat_487  0.098241
115  feat_114  0.097968
310  feat_309  0.095474
371  feat_370  0.095309
150  feat_149  0.094959
313  feat_312  0.094561
284  feat_283  0.094220
479  feat_478  0.093160
145  feat_144  0.092453
165  feat_164  0.092424
386  feat_385  0.090762
353  feat_352  0.090272
19   feat_018  0.090030
399  feat_398  0.087935
25   feat_024  0.087612
494  feat_493  0.086550
403  feat_402  0.085514
204  feat_203  0.084899
350  feat_349  0.084620
214  feat_213  0.084350

[100 rows x 2 columns]
Negative top 10 coef_:        feature     coef_
443  feat_442 -1.000722
154  feat_153 -0.746425
358  feat_357 -0.314218
497  feat_496 -0.312612
6    feat_005 -0.280661
414  feat_413 -0.279855
426  feat_425 -0.276306
162  feat_161 -0.275576
311  feat_310 -0.256957
131  feat_130 -0.256360
262  feat_261 -0.241586
424  feat_423 -0.241148
286  feat_285 -0.234677
297  feat_296 -0.229766
319  feat_318 -0.229758
35   feat_034 -0.224495
169  feat_168 -0.217864
279  feat_278 -0.216228
64   feat_063 -0.215820
470  feat_469 -0.215672
418  feat_417 -0.215215
66   feat_065 -0.209226
282  feat_281 -0.209141
287  feat_286 -0.207574
335  feat_334 -0.204420
61   feat_060 -0.196192
116  feat_115 -0.190426
227  feat_226 -0.184706
421  feat_420 -0.183347
408  feat_407 -0.177635
..        ...       ...
324  feat_323 -0.120512
110  feat_109 -0.119486
90   feat_089 -0.116830
496  feat_495 -0.115399
168  feat_167 -0.113778
206  feat_205 -0.113023
493  feat_492 -0.111824
484  feat_483 -0.111762
278  feat_277 -0.111455
487  feat_486 -0.111397
46   feat_045 -0.110936
157  feat_156 -0.109187
292  feat_291 -0.109096
56   feat_055 -0.108809
199  feat_198 -0.106751
481  feat_480 -0.106420
139  feat_138 -0.103376
236  feat_235 -0.102859
480  feat_479 -0.102731
127  feat_126 -0.102034
219  feat_218 -0.101996
394  feat_393 -0.101785
10   feat_009 -0.098326
490  feat_489 -0.097998
344  feat_343 -0.097600
320  feat_319 -0.095992
94   feat_093 -0.095506
307  feat_306 -0.095071
80   feat_079 -0.094198
15   feat_014 -0.092045

[100 rows x 2 columns]

## Round 2

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.33, random_state=42)

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

model = linear_model.LogisticRegression(penalty = 'l1', C=0.1)
model.fit(X_train, y_train)

train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
train_score,test_score

(0.77313432835820894, 0.55454545454545456)

In [34]:
feature_coef = []
for i,k in enumerate(X.columns):
    feature_coef.append([k, model.coef_[0][i]])
df_coef=pd.DataFrame(feature_coef)
df_coef.columns = ["feature","coef_"]
print "Positive top 13 coef_: ", df_coef.sort_values(["coef_"],ascending=False).head(10)
print "Negative top 10 coef_: ", df_coef.sort_values(["coef_"]).head(10)

Positive top 13 coef_:        feature     coef_
476  feat_475  0.391493
49   feat_048  0.291718
425  feat_424  0.157256
47   feat_046  0.144166
495  feat_494  0.133353
54   feat_053  0.130533
57   feat_056  0.119123
205  feat_204  0.112530
212  feat_211  0.111803
413  feat_412  0.105350
Negative top 10 coef_:        feature     coef_
297  feat_296 -0.140488
497  feat_496 -0.120720
6    feat_005 -0.118236
426  feat_425 -0.113567
64   feat_063 -0.112343
162  feat_161 -0.103527
200  feat_199 -0.103137
131  feat_130 -0.098235
424  feat_423 -0.092128
279  feat_278 -0.091646

## Round 3

In [81]:
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.33, random_state=42)

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

model = linear_model.LogisticRegression(penalty = 'l1', C=0.0185)
model.fit(X_train, y_train)

train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
train_score,test_score

(0.62313432835820892, 0.59696969696969693)

In [78]:
feature_coef = []
for i,k in enumerate(X.columns):
    feature_coef.append([k, model.coef_[0][i]])
df_coef=pd.DataFrame(feature_coef)
df_coef.columns = ["feature","coef_"]
print "Positive top 6 coef_: ", df_coef.sort_values(["coef_"],ascending=False).head(6)
#print "Negative top 5 coef_: ", df_coef.sort_values(["coef_"]).head(5)

Positive top 6 coef_:        feature     coef_
476  feat_475  0.262432
49   feat_048  0.127159
242  feat_241  0.025942
330  feat_329  0.012578
425  feat_424  0.000568
340  feat_339  0.000000

In [36]:
def general_classifier(X, y, model, random_state):
    
    X_train,     \
        X_test,  \
        y_train, \
        y_test = train_test_split(X, y,random_state=random_state)
    
    model.fit(X_train, y_train)

    train_score = model.score(X_train, y_train)
    test_score = model.score(X_test, y_test)

    return {'model' : model,
            'train_score' : train_score,
            'test_score' : test_score}

In [38]:
this_pipeline = (
    SelectKBest(f_classif, k=5),
    KNeighborsClassifier(n_neighbors=17)
)
general_classifier(X,
                   y,
                    SelectKBest(f_classif, k=5), 42)
via_make = make_pipeline(*this_pipeline)

In [60]:
X_train, X_test,y_train,y_test = train_test_split(X, y,random_state=42)

this = SelectKBest(f_classif, k=5)
this.fit_transform(X_train,y_train)
this.get_support(indices=True)
this.transform()

array([ 49,  65, 242, 337, 476])